.menu
{
    text-align: left;
    padding: 10px 100px 0px 100px;
    width:100%;
}

.wrapper{
    text-align: left;
    padding: 10px 100px 30px 100px}

.nextLevel {
    padding: 10px 0 0;
}


.nextLevel, .lastLevel {
display: inline-block;
}


.nextLevel li {
    display: inline-block;
    background: url("../images/defis_ico.png") no-repeat 30px 18px;
}

.nextLevel li, .nextLevel li a {
    color: #4a5156;
}